
@{
    ViewBag.Title = "Team- List";
    Layout = "../Shared/_Layout.cshtml";

}

@using GridMvc.Html
@model IList<Web.Models.TeamViewModel>




<p>

    <div class="jumbotron">
       
<p class="lead">Registration is restricted to 4 teams .</p>
</div>

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel" data-collapsed="0">

                <div class="panel-heading">
                    <div class="panel-title">
                        <u> Register Team</u>
                        <br/>
                        <div class="btn-group">



                            <a class="btn btn-primary" href="@Url.Action("Register","Team")">
                                <i class="entypo-list-add"></i>
                                Add Team
                            </a>


                        </div>


                    </div>
                </div>
                <br /><br />
                @ViewBag.Message
                <div class="panel-body">
                    <div class="scroll" id="listaResultado">
                        @Html.Grid(Model.OrderBy(d => d.Name)).Columns(columns =>
                {
                    columns.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(30)
                    .RenderValueAs(d =>
                    @<b>
                        <a href="@Url.Action("Edit", new { d.Id })" class="btn btn-primary">
                            Edit
                        </a>
                    </b>);
                    columns.Add(d => d.Name).Titled("Name");

                }).WithPaging(25).EmptyText("No records found").Selectable(true)

                    </div>

                </div>

            </div>

        </div>
    </div>
</p>
