<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Currículo Online">
    <meta name="author" content="Alex Sandro">

    <!-- Page Title -->
    <title>CV - Alex Sandro de Freitas Cristiano</title>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />

    <!--
            Google Font
            ================================================== -->
    <!-- Montserrat - Title Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <!-- Questrial - Body Font -->
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

    <!--
            CSS Files
            ================================================== -->
    <!-- Bootstrap -->
    <link rel='stylesheet' href='http://d33wubrfki0l68.cloudfront.net/css/eefc95b0cd360c1e76bac5284ae1506cfb4facdf/css/bootstrap.min.css' />
    <!-- Magnific Popup -->
    <link rel='stylesheet' href='http://d33wubrfki0l68.cloudfront.net/css/f7c33166984ffaa7725eb2f045126d33c71e651b/css/magnific-popup.css' />
    <!-- Animate -->
    <link rel='stylesheet' href='http://d33wubrfki0l68.cloudfront.net/css/b6fd60d18ef742ea5f6979df0cddb35791c4fbe5/css/animate.css' />
    <!-- Owl Carousel -->
    <link rel='stylesheet' href='http://d33wubrfki0l68.cloudfront.net/bundles/d79eb085dd37237fb7f75315387b7bdb265c60e5.css' />

    <!-- Main Style -->
    <link rel='stylesheet' href='http://d33wubrfki0l68.cloudfront.net/css/7b5011204e29d714dd097831052af796ac9dcbda/css/style.css' />
    <!-- Responsive File -->
    <link rel='stylesheet' href='http://d33wubrfki0l68.cloudfront.net/css/f08faf4bd2f63f731484664937c028cda3c06422/css/responsive.css' />

    <!-- Modernizer Script for old Browsers -->
    <script src='http://d33wubrfki0l68.cloudfront.net/js/68d38c58bf4e1a5a865e4032c5d832ea1a0aac43/js/modernizr-2.6.2.min.js'></script>
</head>

<body>

    <!--
        Start Navigation Bar
        ==================================== -->

    <div class="my-nav">
        <header id="header" class="site-header">

            <!-- Start Stop Header -->
            <nav id="topbar" class="site-topbar visible-lg visible-md">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 bar-info"><i class="fa fa-phone"></i>21-96423-3730</div>
                        <div class="col-sm-4 text-header">Estou disponível para projetos freelance.</div>
                        <div class="social-links col-sm-4">
                            <a href="https://www.facebook.com/asafcris"><i class="fa fa-facebook"></i></a>
                            <a href="linkedin.com/in/alex-sandro-70757366/"><i class="fa fa-linkedin"></i></a>

                        </div>
                    </div>
                </div>
            </nav>
            <!-- End Stop Header -->
            <!-- Start Navigation Bar -->
            <nav id="navbar" class="site-navbar navbar navbar-static-top affix-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars"></i>
                        </button>
                        <!-- <h1 class="navbar-brand"><a href='/'><img src="http://d33wubrfki0l68.cloudfront.net/b24359bca8659b3ca96fdec71db045c48d58d3dc/7e7fe/img/logo.png" alt="Nile Logo"></a></h1>-->
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul id="navigation" class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#about">Sobre</a></li>
                            <li><a href="#skill">Habilidades</a></li>
                            <li><a href="#resume">Resumo</a></li>
                            <li><a href="#testimonial">Testemunhas</a></li>
                            <li><a href="#contact">Contato</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navigation Bar -->

        </header>
    </div>

    <!--
        End Navigation Bar
        ==================================== -->
    <!--
        Start Home Section
        ==================================== -->

    <section id="home" class="scroll-section root-sec grey lighten-5 home-wrap">
        <div class="sec-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="home-inner">
                            <div class="center-align home-content text-center">
                                <h1 class="home-title">Olá! Eu sou <span>Alex Sandro</span></h1>
                                <h2 class="home-subtitle">back end Developer , Rio de Janeiro</h2>
                                <a href="#contact" class="hire-me-btn btn btn-hire">Contato</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .container end -->
            <div class="section-call-to-area text-center">
                <div class="container">
                    <div class="row">
                        <a href="#about" class="scroll-down btn-floating" data-section="#about">
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </div>
                </div>
                <!-- .container end -->
            </div>
        </div>
    </section>

    <!--
        End Home Section
        ==================================== -->
    <!--
        Start About Section
        ==================================== -->

    <section id="about">
        <div class="container">
            <div class="row all-about">

                <!-- Start My Story -->
                <div class="col-md-4 col-sm-12">
                    <div class="story">
                        <h3>Sobre</h3>

                        <!-- Start Social Links -->
                        <div class="social text-center">
                            <a href="https://www.facebook.com/asafcris"><i class="fa fa-facebook"></i></a>
                            <a href="linkedin.com/in/alex-sandro-70757366/"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <!-- End Social Links -->

                        <div class="text-center">
                            <p>
                                Sou dedicado, pontual com compromissos, sempre procurando crescer profissionalmente e socialmente.
                                Tenho um bom relacionamento Interpessoal, boa expressão verbal, vontade de crescer e Comprometimento.
                                .
                            </p>
                            <button class="button button--nile button--round-s button--border-thin"><i class="fa fa-cloud-download"></i><span>Download Resume</span></button>
                        </div>
                    </div>
                </div>
                <!-- End My Story -->
                <!-- Start About Me Photo -->
                <div class="col-md-4 col-sm-6">
                    <main>
                        <div class="content content--c1">
                            <a href="#" class="tilter tilter--1">
                                <div class="tilter__figure">
                                    <img class="tilter__image" src="~/img/profile.jpg" alt="Alex Sandro" />
                                    <div class="tilter__deco tilter__deco--shine">
                                        <div></div>
                                    </div>
                                    <div class="tilter__caption">
                                        <h3 class="tilter__title">Alex Sandro</h3>
                                        <p class="tilter__description">Back-End Developer</p>
                                    </div>
                                    <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
                                        <path d="M20.5,20.5h260v375h-260V20.5z" />
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </main>
                </div>
                <!-- End About Me Photo -->
                <!-- Start Information -->
                <div class="col-md-4 col-sm-6">
                    <div class="info">
                        <h3>Informações</h3>
                        <div class="information">
                            <p><i class="fa fa-user"></i><span>Nome :</span> Alex Sandro</p>
                            <p><i class="fa fa-calendar"></i><span>Nascimento :</span> 09 Fevereiro 1989</p>
                            <p><i class="fa fa-map-marker"></i><span>Address :</span> Japeri, Rio de Janeiro, Brasil</p>
                            <p><i class="fa fa-phone"></i><span>Phone :</span> (21)-96423-3730</p>
                            <p><i class="fa fa-envelope"></i><span>E-Mail :</span> asafcris@hotmail.com</p>
                            <p><i class="fa fa-heart"></i><span>Estado Civil :</span> Casado</p>
                            <p><i class="fa fa-user"></i><span>Filho :</span> 0</p>
                        </div>
                    </div>
                </div>
                <!-- End Information -->
            </div>
        </div>
    </section>

    <!--
        End About Section
        ==================================== -->
    <!--
        Start Hobbies and Services Section
        ==================================== -->

    <section id="hobbies">
        <div class="container">
            <div class="row">

                <!-- Start Hobbies Section -->
                <div class="col-md-6">
                    <div class="part-hobbies">
                        <h3>Hobbies</h3>
                        <div class="hoobies-content text-center">
                            <div class="row">

                                <!-- Start Single Hobbie -->
                                <div class="col-sm-4 col-xs-6">
                                    <div class="single-hobbie">
                                        <div class="single-hobbie-content">
                                            <i class="fa fa-film"></i>
                                            <h4>Filmes</h4>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Hobbie -->
                                <!-- Start Single Hobbie -->
                                <div class="col-sm-4 col-xs-6">
                                    <div class="single-hobbie">
                                        <div class="single-hobbie-content">
                                            <i class="fa fa-plane"></i>
                                            <h4>Passeios</h4>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Hobbie -->
                                <!-- Start Single Hobbie -->
                                <div class="col-sm-4 col-xs-6">
                                    <div class="single-hobbie">
                                        <div class="single-hobbie-content">
                                            <i class="fa fa-dribbble"></i>
                                            <h4>Futebol</h4>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Hobbie -->
                                <!-- Start Single Hobbie -->
                                <div class="col-sm-4 col-xs-6">
                                    <div class="single-hobbie">
                                        <div class="single-hobbie-content">
                                            <i class="fa fa-users"></i>
                                            <h4>Família</h4>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Hobbie -->
                                <!-- Start Single Hobbie -->
                                <div class="col-sm-4 col-xs-6">
                                    <div class="single-hobbie">
                                        <div class="single-hobbie-content">
                                            <i class="fa fa-book"></i>
                                            <h4>Estudar</h4>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Hobbie -->
                                <!-- Start Single Hobbie -->
                                <div class="col-sm-4 col-xs-6">
                                    <div class="single-hobbie">
                                        <div class="single-hobbie-content">
                                            <i class="fa fa-gamepad"></i>
                                            <h4>Game</h4>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Hobbie -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Hobbies Section -->
                <!-- Start Services Section -->
                <div class="col-md-6">
                    <div class="part-services">
                        <div id="serv" class="owl-carousel owl-theme">

                            <!-- Start Single Service -->
                            <div class="single-service">
                                <h3>Faço</h3>
                                <div class="service-icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <div class="service-content">

                                    <p>
                                        Desenvolvimento em C#.NET nos paradigmas WebForms e Razor MVC, fazendo uso de padrões como DDD e TDD.
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Service -->
                            <!-- Start Single Service -->
                            <div class="single-service">
                                <h3>Faço</h3>
                                <div class="service-icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <div class="service-content">

                                    <p>
                                        Utilização dos frameworks Nhibernate, Entity e AutoMapper para mapeamento ORM.
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Service -->
                            <!-- Start Single Service -->
                            <div class="single-service">
                                <h3>Faço</h3>
                                <div class="service-icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <div class="service-content">

                                    <p>
                                        Construção de arquiteturas DDD, respeitando os princípios do SOLID.
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Service -->
                            <!-- Start Single Service -->
                            <div class="single-service">
                                <h3>Faço</h3>
                                <div class="service-icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <div class="service-content">

                                    <p>
                                        Atuação com bases de dados SqlServer e MySql.
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Service -->
                            <!-- Start Single Service -->
                            <div class="single-service">
                                <h3>Faço</h3>
                                <div class="service-icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <div class="service-content">
                                    <h4>Web Development</h4>
                                    <p>
                                        Construção de WebServices nas arquiteturas WCF e WebApi.
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Service -->
                            <!-- Start Single Service -->
                            <div class="single-service">
                                <h3>Faço</h3>
                                <div class="service-icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <div class="service-content">
                                    <h4>Web Development</h4>
                                    <p>
                                        Construção de módulos com injeção de dependência (Ninject e Simple Injector).
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Service -->
                            <!-- Start Single Service -->
                            <div class="single-service">
                                <h3>Faço</h3>
                                <div class="service-icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <div class="service-content">
                                    <h4>Web Development</h4>
                                    <p>
                                        Conhecimento em NativeScrip, Angula, Xamarin, JavaScript, ASP.NET MVC, C#,VB.NET, CSS, HTML.
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Service -->

                        </div>
                    </div>
                </div>
                <!-- End Services Section -->

            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>

    <!--
        End Hobbies and Services Section
        ==================================== -->
    <!--
        Start Skills Section
        ==================================== -->

    <section id="skill">
        <div class="container all-skills">

            <!-- Start Section Title -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="h1">Habilidades</h2>
                        <span class="title-underline"><i class="fa fa-tasks"></i></span>
                    </div>
                </div>
            </div>
            <!-- End Section Title -->

            <div class="row">

                <!-- Start Single Skill -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="skill-chart text-center">
                        <span class="chart" data-percent="40">
                            <span class="percent"></span>
                        </span>
                        <h3>HTML & CSS</h3>
                    </div>
                </div>
                <!-- End Single Skill -->
                <!-- Start Single Skill -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="skill-chart text-center">
                        <span class="chart" data-percent="50">
                            <span class="percent"></span>
                        </span>
                        <h3>JavaScript</h3>
                    </div>
                </div>
                <!-- End Single Skill -->
                <!-- Start Single Skill -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="skill-chart text-center">
                        <span class="chart" data-percent="80">
                            <span class="percent"></span>
                        </span>
                        <h3>C#</h3>
                    </div>
                </div>
                <!-- End Single Skill -->
                <!-- Start Single Skill -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="skill-chart resp-skill text-center">
                        <span class="chart" data-percent="50">
                            <span class="percent"></span>
                        </span>
                        <h3>Bootstrap</h3>
                    </div>
                </div>
                <!-- End Single Skill -->
                <!-- Start Single Skill -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="skill-chart resp-skill text-center">
                        <span class="chart" data-percent="70">
                            <span class="percent"></span>
                        </span>
                        <h3>ASP.Net MVC </h3>
                    </div>
                </div>
                <!-- End Single Skill -->
                <!-- Start Single Skill -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="skill-chart resp-skill text-center">
                        <span class="chart" data-percent="30">
                            <span class="percent"></span>
                        </span>
                        <h3>ASP.NET Core  </h3>
                    </div>
                </div>
                <!-- End Single Skill -->
                <!-- Start Single Skill -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="skill-chart resp-skill text-center">
                        <span class="chart" data-percent="40">
                            <span class="percent"></span>
                        </span>
                        <h3>SQL Server </h3>
                    </div>
                </div>
                <!-- End Single Skill -->

            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>

    <!--
        End Skills Section
        ==================================== -->
    <!--
        Start Portfolio Section
        ==================================== -->
    <!--
        End Portfolio Section
        ==================================== -->
    <!--
        Start Resume Section
        ==================================== -->

    <section id="resume">
        <div class="container">

            <!-- Start Section Title -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="h1">Resume</h2>
                        <span class="title-underline"><i class="fa fa-graduation-cap"></i></span>
                    </div>
                </div>
            </div>
            <!-- End Section Title -->
            <!-- Start Timeline -->
            <ul class="timeline">



                <!-- Start Single Item -->
                <li>
                    <div class="direction-l">
                        <div class="flag-wrapper">
                            <span class="flag">MRC Caxiense (Microlins)</span>
                            <span class="time-wrapper"><span class="time">2015 - 2017</span></span>
                        </div>
                        <div class="desc">Manutenção do Sistema, suporte aos usuários, atuação com DBA manutenção de Jobs, criação de Views, Procedure, Crystal Reports para relatórios, ASP.NET, MVC 5, SQL Server, FluentHibernat, Unit,AutoMapper, CSS, HTML 5,Javascript,bootstrap, utilizando os padrões de TDD e DDD Desenvolvimento de novas funcionalidades, responsável para funcionamento do sistema para 16 empresas do grupo, reuniões mensais para entrega de demandas novos e correções feitas, reuniões para novas demandas, integrações com sistemas externos via dell ou Web Api e WCF. Analista Programador.</div>
                    </div>
                </li>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <li>
                    <div class="direction-r">
                        <div class="flag-wrapper">
                            <span class="flag"> Pisom Tecnologia Ltda </span>
                            <span class="time-wrapper"><span class="time">2014 - 2015</span></span>
                        </div>
                        <div class="desc">Desenvolvimento de novos projetos, melhorias nas aplicações já existentes, visita a clientes para instalação e entender novas solicitações para ajustes ou telas novas. Atendimento de demandas utilizando ASP.NET, MVC 5, Crystal Reports, SQL Server, FluentHibernat, Unit,AutoMapper,CSS, HTML 5,Javascript,bootstrap, utilizando os padrões de TDD e DDD.</div>
                    </div>
                </li>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <li>
                    <div class="direction-l">
                        <div class="flag-wrapper">
                            <span class="flag"> CST Automação Comercial LTDA</span>
                            <span class="time-wrapper"><span class="time">2013 - 2014</span></span>
                        </div>
                        <div class="desc">Desenvolvimento de Sistemas em C#, VB.NET com ASPX,SQL Server 2008R2 e 2012 manutenção e criação de Views, Procedure, Crystal Reports para relatórios, CSS, HTML , Javascript, bootstrap.</div>
                    </div>
                </li>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <li>
                    <div class="direction-r">
                        <div class="flag-wrapper">
                            <span class="flag"> Tamoio Mineração S/A</span>
                            <span class="time-wrapper"><span class="time">2012 - 2013</span></span>
                        </div>
                        <div class="desc">Responsável por toda a Rede, Infraestrutura, computadores e servidor com Windows server 2008. Técnico em Informática.</div>
                    </div>
                </li>
                <!-- End Single Item -->
                <!-- Start Single Item -->
                <li>
                    <div class="direction-l">
                        <div class="flag-wrapper">
                            <span class="flag">  Waldir Lima Editora</span>
                            <span class="time-wrapper"><span class="time">2011 - 2011</span></span>
                        </div>
                        <div class="desc">Suporte aos Professores e alunos da Faculdade CCAA. Suporte Técnico. Estagiário.</div>
                    </div>
                </li>
                <!-- End Single Item -->
            </ul>
            <!-- End Timeline -->

        </div>
        <!-- end container -->
    </section>

    <!--
        End Resume Section
        ==================================== -->
    <!--
        Start Testimonial Section
        ==================================== -->

    <section id="testimonial">
        <div class="container">

            <!-- Start Section Title -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="h1">Testemunhas</h2>
                        <span class="title-underline"><i class="fa fa-quote-left"></i></span>
                    </div>
                </div>
            </div>
            <!-- End Section Title -->

            <div class="row">
                <div class="col-md-12">
                    <div id="testimonial-slider" class="owl-carousel">

                        <!-- Start Single Testimonial -->
                        <div class="testimonial">
                            <div class="pic">
                                <img src="" alt="">
                            </div>
                            <p class="description">

                            </p>
                            <h3 class="title"></h3>
                            <p class="post"></p>
                        </div>
                        <!-- End Single Testimonial -->
                        <!-- Start Single Testimonial -->
                        <div class="testimonial">
                            <div class="pic">
                                <img src="" alt="">
                            </div>
                            <p class="description">

                            </p>
                            <h3 class="title"></h3>
                            <p class="post"></p>
                        </div>
                        <!-- End Single Testimonial -->
                        <!-- Start Single Testimonial -->
                        <div class="testimonial">
                            <div class="pic">
                                <img src="" alt="">
                            </div>
                            <p class="description">

                            </p>
                            <h3 class="title"></h3>
                            <p class="post"></p>
                        </div>
                        <!-- End Single Testimonial -->

                    </div>
                    <!-- End #testimonial-slider -->
                </div>
                <!-- End col-md-12 -->
            </div>
            <!-- End row -->

        </div>
        <!-- end container -->
    </section>

    <!--
        End Testimonial Section
        ==================================== -->
    <!--
        Start Contact Section
        ==================================== -->

    <section id="contact">
        <div class="sec-overlay">
            <div class="all-contact">
                <div class="container">

                    <!-- Start Section Title -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-center">
                                <h2 class="h1">Contato</h2>
                                <span class="title-underline"><i class="fa fa-headphones"></i></span>
                            </div>
                        </div>
                    </div>
                    <!-- End Section Title -->

                    <div class="row">

                        <!-- Start Google Map -->
                        <div class="col-md-6">
                            <div class="google-map-area">
                                <div id="contacts" class="map-area">

                                </div>
                                <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:400px;width:700px;'>
                                    <div id='gmap_canvas' style='height:300px;width:550px;'></div>
                                    <style>
                                        #gmap_canvas img {
                                            max-width: none !important;
                                            background: none !important;
                                        }
                                    </style>
                                </div>
                                <script type='text/javascript'>function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(-22.655421,-43.658172000000036),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-22.655421,-43.658172000000036)});infowindow = new google.maps.InfoWindow({content:'<strong>Alex Sandro</strong><br>Rua Celina, 31 Nova Belém<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
                            </div>

                        </div>
                        <!-- End Google Map -->
                        <!-- Start Contact Form -->
                        <div class="col-md-6  text-center">
                            <form>
                                <input type='hidden' name='form-name' value='contact-form' />
                                <span class="input input--nao">
                                    <input class="input__field input__field--nao" type="text" id="name" />
                                    <label class="input__label input__label--nao">
                                        <span class="input__label-content input__label-content--nao">Nome</span>
                                    </label>
                                    <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
                                    </svg>
                                </span>
                                <span class="input input--nao">
                                    <input class="input__field input__field--nao" type="email" id="email" />
                                    <label class="input__label input__label--nao">
                                        <span class="input__label-content input__label-content--nao">E-Mail</span>
                                    </label>
                                    <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
                                    </svg>
                                </span>
                                <span class="input input--nao">
                                    <input class="input__field input__field--nao" type="text" id="subject" />
                                    <label class="input__label input__label--nao">
                                        <span class="input__label-content input__label-content--nao">Assunto</span>
                                    </label>
                                    <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
                                    </svg>
                                </span>
                                <span class="input input--nao">
                                    <input class="input__field input__field--nao" type="text" id="message" />
                                    <label class="input__label input__label--nao">
                                        <span class="input__label-content input__label-content--nao">Mensagem</span>
                                    </label>
                                    <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
                                    </svg>
                                </span>

                                <div id="mail-success" class="success">
                                    Thank you. Your Mail On His Way :)
                                </div>

                                <div id="mail-fail" class="error">
                                    Sorry, an error occurred. Try later :(
                                </div>

                                <div class="msg-btn">
                                    <button id="contact-submit" class="button button--nile button--round-s button--border-thin"><i class="fa fa-envelope-o"></i><span>Enviar</span></button>
                                </div>
                            </form>
                        </div>
                        <!-- End Contact Form -->

                    </div>
                    <!-- End row -->

                </div>
                <!-- end container -->
            </div>
            <!-- end all-contact -->
        </div>
        <!-- end sec-overlay -->
    </section>

    <!--
        End Contact Section
        ==================================== -->
    <!--
        Start Footer Section
        ==================================== -->

    <footer id="footer">
        <div class="container">
            <!-- Start Copyright -->
            <div class="copyright text-center">
                <p>Developed  <a class="about-link" href=""> Alex Sandro</a>. Copyright &copy; 2017. All Rights Reserved.</p>
            </div>
            <!-- End Copyright -->
        </div>
    </footer>

    <!--
        End Footer Section
        ==================================== -->
    <!--
        Start Back To Top
        ==================================== -->

    <div id="scroll-top">
        <i class="fa fa-angle-up fa-2x"></i>
    </div>

    <!--
        End Back To Top
        ==================================== -->
    <!--
        Start Preloader
        ==================================== -->

    <div id="loading-mask">
        <div class='preloader'>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!--
        End Preloader
        ==================================== -->
    <!--
            JS Files
            ==================================== -->
    <!-- Main jQuery -->
    <script src='http://d33wubrfki0l68.cloudfront.net/js/701d455cb182c3bfa788673d99591c94b68dd544/js/jquery-3.2.1.min.js'></script>
    <!-- Bootstrap v3.1 -->
    <script src='http://d33wubrfki0l68.cloudfront.net/js/377a79c183312179314900a9d6f6d4283291f676/js/vendor/bootstrap.min.js'></script>
    <!-- Img Hover -->
    <script src='http://d33wubrfki0l68.cloudfront.net/js/ca3a6dde21853aa2b89e4cdd1d622124c94e5489/js/img-hover.js'></script>
    <!-- Image Effect -->
    <script src='http://d33wubrfki0l68.cloudfront.net/js/9b5fff43ed3a0e1e35c78c67c79d06e8c3f889ff/js/anime.min.js'></script>
    <!-- Navbar -->
    <script src='http://d33wubrfki0l68.cloudfront.net/bundles/cc565b3f54f5f30fd0d3fb0b1fc22ff2877bdbff.js'></script>
    <!-- Image Loaded -->
    <script src='http://d33wubrfki0l68.cloudfront.net/js/0f84efd5b4c7949e783d4b5daf75e261b7c640a7/lib/imagesloaded/imagesloaded.pkgd.min.js'></script>
    <!-- isotope -->
    <script src='http://d33wubrfki0l68.cloudfront.net/js/172c6633bfddde8dc5f7ebf7cd6da94299312ad7/js/libs/isotope.pkgd.min.js'></script>
    <!-- Magnific Popup -->
    <script src='http://d33wubrfki0l68.cloudfront.net/js/fc7275f61682fa1ea733c2987b43c46eda377256/js/jquery.magnific-popup.min.js'></script>
    <!-- Owl Carousel -->
    <script src='http://d33wubrfki0l68.cloudfront.net/js/4c36aa2b768aa2f363b0239e29d5818a676ead00/assets/owl-carousel/js/owl.carousel.min.js'></script>
    <!-- PieChart JS -->
    <script src='http://d33wubrfki0l68.cloudfront.net/js/aa77a638cc8d5f71e2dcae2d6a2863df9b6f0b38/js/easypiechart.js'></script>
    <!-- Appear JS -->
    <script src='http://d33wubrfki0l68.cloudfront.net/js/67dacbb92067d31e5f02d6bbe7135f5c107f8054/js/jquery.appear.js'></script>
    <!-- For Input -->
    <script src='http://d33wubrfki0l68.cloudfront.net/js/ed9a0696d3a78a2c6e5952692ac3b51eff6a2b4c/js/classie.js'></script>
    <!-- Google Map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAj9b_nyz33KEaocu6ZOXRgqwwUZkDVEAw"></script>
    <!-- Custom JS -->
    <script src='http://d33wubrfki0l68.cloudfront.net/js/07d3f29bb69d96b9394aab91fd9802c308dd767a/js/custom.js'></script>

</body>

</html>