@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>ASP.NET MVC</h1>
    <p class="lead">Welcome to Woods-Woods tournaments using HTML, CSS .</p>
</div>
