
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>curriculum</title>
</head>
<body>
<div>
    <iframe src="~/fonts/Alex-sandro-de-freitas-cristiano.pdf" width="1500" height="1300" style="border: none;"></iframe>
</div>
</body>
</html>
